{% extends 'base.html.twig' %}

{% block body %}
	<style>
        .post{
            padding:20px 10px;
            /* border:1px solid black; */
        }
		.buttons{
			padding:10px;
		}
	</style>

	<div class="container">
	<div class="row">
			<div class="col buttons">
                <button type="button" id = "btnmy" class="btn-sm btn btn-success">Добавить пост</button>
			</div>
			<div class="col-9">
				{% for post in posts %}
                <div class = "row post border">
					<li>
						<a href = "{{post.id}}">{{post.title}}</a>
					</li>
                </div>
				{% endfor %}
			</div>
		</div>
	</div>
    <script type="text/javascript">
        document.getElementById('btnmy').onclick = function () {
			location.href = "/newPost";	
		}
    </script>
{% endblock %}
